<html>
<head>
    <script src="./lib/jquery-2.2.3.min.js"></script>
    <script src="./lib/vis-4.16.1.min.js"></script>
    <script src="./lib/cookie.js"></script>
    <script type="text/javascript">config = {

        apiBase: "{{{apiBase}}}"

    };</script>
    <link rel="stylesheet" type="text/css" href="./lib/vis-4.16.1.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>The People's History</title>
</head>
<body>
    <section id="tree-holder">
    </section>
    <aside id="data">
        <h3>Infomation</h3>
        <table id="person-info">
            <tbody>
                
                <tr>
                    <th>First Name</th>
                    <td>Sam</td>
                </tr>
                <tr>
                    <th>
                        Last Name
                    </th>
                    <td>
                        Stephenson
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="delete_button" type="button">Delete</button> 
    </aside>
</body>
<script src="./treeMaker.js"></script>
</html>