<html>
<head>
    <script src="./lib/jquery-2.2.3.min.js"></script>
    <script src="./lib/vis-4.16.1.min.js"></script>
    <script src="./lib/cookie.js"></script>
    <script type="text/javascript">config = {

        apiBase: "{{{apiBase}}}"

    };</script>
    <link rel="stylesheet" type="text/css" href="./lib/vis-4.16.1.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>The People's History</title>
</head>
<body>
    <section id="tree-holder">
    </section>
    <aside id="data">
        <h3>Information</h3>
        <table id="person-info">
            <tbody>
            </tbody>
        </table>
        <button id="delete_button" type="button">Remove from view</button>
        <button id="add-button" type="button"></button> 
    </aside>
</body>
<script src="./treeMaker.js"></script>
</html>
