<html>
<head>
    <link rel="stylesheet" type="text/css" href="./login.css">
    <link rel="stylesheet" type="text/css" href="./font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./bootstrap-social.css">
</head>
<body>
    <section>
        <ul>
        	<li><a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a></li>
        	<li><a class="btn btn-block btn-social btn-google" href="/auth/google">
                <span class="fa fa-google"></span> Sign in with Google
            </a></li>
        	<li><a class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign in with Twitter
            </a></li>
        </ul>
    </section>
</body>
</html>