body {
	display: flex;
	height: 100%;
}

#data {
	flex: 1;
	border-left-width: 1px;
	border-left-color: grey;
	border-left-style: solid;
	padding-top: 5px;
}

#tree-holder {
	flex: 3;
}

aside h3 {
	text-align: center;
}

#person-info {
	width: 100%;
}
#add-button {
	background-image: url("../images/add.png");
	background-size: contain;
    height: 2.5em;
    width: 2.5em;
}
#add-button:hover {
	background-color:#5cbf2a;
}
#add-button:active {
	position:relative;
	top:1px;
}

